:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom, 0);
  --safe-area-left: env(safe-area-inset-left, 0);
  --safe-area-right: env(safe-area-inset-right, 0);
}
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* 修改ionic原有样式 */
html {
  --ion-font-family: initial; /* 防止字体被覆盖 */
}

/**
 * Styles for the Icon UI component.
 *
 * TODO: Move these into a styled component or similar system if desired
 */
.ui-icon {
  display: inline-block;

  width: 1em;
  height: 1em;

  contain: strict;

  fill: currentColor;

  box-sizing: content-box !important;
}

.ui-icon .ionicon {
  stroke: currentColor;
}

.ui-icon .ionicon-fill-none {
  fill: none;
}

.ui-icon .ionicon-stroke-width {
  stroke-width: 32px;
  stroke-width: var(--ionicon-stroke-width, 32px);
}

.ui-icon .icon-inner,
.ui-icon .ionicon,
.ui-icon svg {
  display: block;

  height: 100%;
  width: 100%;
}

/** Styles for React Toggle */

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;

  text-size-adjust: 100%;
}

html:not(.hydrated) body {
  display: none;
}

html.ion-ce body {
  display: block;
}

html.plt-pwa {
  height: 100vh;
}

body {
  @include font-smoothing();
  @include margin(0);
  @include padding(0);

  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  position: absolute;

  /**
   * Because body has position: fixed,
   * it should be promoted to its own
   * layer.
   *
   * WebKit does not always promote
   * the body to its own layer on page
   * load in Ionic apps. Once scrolling on
   * ion-content starts, WebKit will promote
   * body. Unfortunately, this causes a re-paint
   * which results in scrolling being halted
   * until the next user gesture.
   *
   * This impacts the Custom Elements build.
   * The lazy loaded build causes the browser to
   * re-paint during hydration which causes WebKit
   * to promote body to its own layer.
   * In the CE Build, this hydration does not
   * happen, so the additional re-paint does not occur.
   */
  transform: translateZ(0);

  text-rendering: optimizeLegibility;

  overflow: hidden;

  touch-action: manipulation;

  -webkit-user-drag: none;

  -ms-content-zooming: none;

  word-wrap: break-word;

  overscroll-behavior-y: none;
  -webkit-text-size-adjust: none;

  text-size-adjust: none;
}
